<div class="card">
  <div class="card-header">
    <h3 class="card-title">#INV{{invoice.id}}</h3>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-6">
        <p class="h3">Project ER</p>
        <address>
          Schulhof 2<br>
          1010, Wien<br>
          <a href="mailto:info@ersols.online">info@ersols.online</a>
        </address>
      </div>
      <div class="col-md-6 text-right">
        <p class="h3">{{ invoice.user.firstName }} {{ invoice.user.lastName }}</p>
        <address>
          {{ invoice.user.address }}<br>
          {{ invoice.user.postal }}, {{ invoice.user.city }}<br>
          <a [href]="'mailto:' + invoice.user.email">{{ invoice.user.email }}</a>
        </address>
      </div>
    </div>
  </div>
  <div class="card-block">
    <table class="table">
      <thead>
        <tr>
          <th></th> <!-- Row index -->
          <th colspan="2" class="left">Trip</th>
          <th class="left">Description</th>
          <th>Distance</th>
          <th>Rate</th>
          <th>VAT</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let line of invoice.lines; let i = index">
        <tr>
          <td> {{ i + 1}} </td>
          <td colspan="3" class="left">
            Trip <a href="">#{{ line.tripId }}</a> <br>
            <span class="text-muted">From a to b</span>
          </td>
          <td>{{ line.distance / 1000 }} km</td>
          <td></td>
          <td></td>
          <td>{{ line.price | currency:'EUR' }}</td>
        </tr>

        <ng-container *ngFor="let part of line.parts">
          <tr >
            <td></td>
            <td></td>
            <td class="left"><img src="/assets/img/blank.gif" [class]="'flag flag-' + part.origin.toLowerCase()" alt="Belgium" /> {{ part.origin }}</td>
            <td></td>
            <td>{{ part.distance / 1000 }} km</td>
            <td></td>
            <td> {{ part.vat }}%</td>
            <td>{{ part.price | currency:'EUR' }}</td>
          </tr>

          <tr *ngFor="let detail of part.details">
            <td></td>
            <td></td>
            <td></td>
            <td class="left" colspan="2"> {{ detail.description }}</td>
            <td>{{ detail.rate }}</td>
            <td></td>
            <td></td>
          </tr>
        </ng-container>
      </ng-container>
    </table>
  </div>
    <div class="card-footer">
      <button class="btn btn-primary btn-link" onclick="javascript:window.print();"><clr-icon shape="wallet"></clr-icon> Pay</button>
      <button class="btn btn-secondary btn-link float-md-right" onclick="javascript:window.print();"><clr-icon shape="printer"></clr-icon> Print</button>
  </div>
</div>
