<clr-datagrid>
  <clr-dg-placeholder>We couldn't find any users!</clr-dg-placeholder>

  <clr-dg-column>User ID</clr-dg-column>
  <clr-dg-column>Email</clr-dg-column>
  <clr-dg-column>First Name</clr-dg-column>
  <clr-dg-column>Last Name</clr-dg-column>
  <clr-dg-column>Address</clr-dg-column>
  <clr-dg-column>Postal</clr-dg-column>
  <clr-dg-column>City</clr-dg-column>
  <clr-dg-column>Role</clr-dg-column>
  <clr-dg-row *clrDgItems="let user of users$ | async" [clrDgItem]="user">

    <!--<clr-dg-action-overflow>-->
      <!--<button class="action-item" (click)="onRoleChange(user)" [disabled]="!(ownership.vehicle.carTracker && !ownership.endDate)">Change Role</button>-->
    <!--</clr-dg-action-overflow>-->

    <clr-dg-cell>{{ user.id }}</clr-dg-cell>
    <clr-dg-cell>{{ user.email }}</clr-dg-cell>
    <clr-dg-cell>{{ user.firstName }}</clr-dg-cell>
    <clr-dg-cell>{{ user.lastName }}</clr-dg-cell>
    <clr-dg-cell>{{ user.address }}</clr-dg-cell>
    <clr-dg-cell>{{ user.postal }}</clr-dg-cell>
    <clr-dg-cell>{{ user.city }}</clr-dg-cell>
    <clr-dg-cell>{{ user.role.name }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer *ngIf="page$ | async; let page">
    <clr-dg-pagination #pagination [(clrDgPage)]="activePage" [clrDgPageSize]="page.size" [clrDgTotalItems]="page.totalElements">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
