<header class="header-6" *ngIf="user$ | async ">
  <div class="branding">
    <a [routerLink]="['home']" class="nav-link">
      <clr-icon shape="map" style="color: #fafafa;"></clr-icon>
      <span class="title">Project ER</span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-text" clrDropdownTrigger>
        {{ (user$ | async).email }}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a [routerLink]="['settings']" clrDropdownItem>Preferences</a>
        <a (click)="logout()" clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
