
<clr-header *ngIf="auth.user$ | async ">
  <div class="branding">
    <a [routerLink]="['home']" class="nav-link" [ngSwitch]="role$ | async">
      <clr-icon shape="map" style="color: #fafafa;"></clr-icon>
      <span class="title">Project ER</span>
      <span class="title" *ngSwitchCase="ROLE_GOV" style="opacity: 0.1">/GOV</span>
      <span class="title" *ngSwitchCase="ROLE_POLICE" style="opacity: 0.1">/POLICE</span>
    </a>
  </div>
  <div class="header-nav" [clr-nav-level]="1" [ngSwitch]="role$ | async">
    <app-basic-links *ngSwitchCase="ROLE_BASIC"></app-basic-links>
    <app-gov-links *ngSwitchCase="ROLE_GOV"></app-gov-links>
    <app-police-links *ngSwitchCase="ROLE_POLICE"></app-police-links>
    <app-admin-links *ngSwitchCase="ROLE_ADMIN"></app-admin-links>
   </div>

  <form class="search" *ngIf="(role$ | async) == ROLE_POLICE" (ngSubmit)="onSearch()">
    <label for="search_input">
      <input id="search_input" type="text" placeholder="Search for a car..." [(ngModel)]="searchTerm" name="searchTerm">
    </label>
  </form>
  <div class="header-actions">
    <clr-dropdown>
    <button class="nav-text" clrDropdownTrigger>
    {{ (auth.user$ | async).email }}
    <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
    <a [routerLink]="['settings']" clrDropdownItem>Preferences</a>
    <a (click)="logout()" clrDropdownItem>Log out</a>
    </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
