<clr-datagrid>
  <clr-dg-placeholder>We couldn't find any rates!</clr-dg-placeholder>

  <clr-dg-column>Category</clr-dg-column>
  <clr-dg-column>Price</clr-dg-column>

  <clr-dg-row *clrDgItems="let rates of rates$ | async" [clrDgItem]="rates">

    <clr-dg-action-overflow>
      <button class="action-item" (click)="openRoleModal(rates)">Change Rate</button>
    </clr-dg-action-overflow>

    <clr-dg-cell>{{ rates.category }}</clr-dg-cell>
    <clr-dg-cell>{{ rates.price }}</clr-dg-cell>

  </clr-dg-row>
</clr-datagrid>

<div class="modal" [hidden]="!showModal">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="showModal = !showModal">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Change rate for Category {{ rateCategory ? rateCategory.category : 'category' }}</h3>
      </div>
      <div class="modal-body">
        <section class="form-block">
          <div class="form-group row">
            <div class="offset-md-2 col-md-4">
              <label>Rate</label>
            </div>
            <div class="col-md-4">
              <input type="number" id="formFields_10" size="35" [(ngModel)]="ratePrice">
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="showModal = !showModal">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="changeRate()">Ok</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" [hidden]="!showModal"></div>
