<clr-datagrid>
  <clr-dg-placeholder>You don't have any previous owned cars!</clr-dg-placeholder>

  <clr-dg-column>Car ID</clr-dg-column>
  <clr-dg-column>Brand</clr-dg-column>
  <clr-dg-column>Type</clr-dg-column>
  <clr-dg-column>Weight</clr-dg-column>
  <clr-dg-column>Color</clr-dg-column>
  <clr-dg-column>Registration date</clr-dg-column>
  <clr-dg-column>End date</clr-dg-column>
  <clr-dg-row *clrDgItems="let ownership of ownerships$ | async" [clrDgItem]="ownership">
    <clr-dg-cell>
      <a>
        {{ ownership.vehicle.id | slice:0:7}}
      </a>
    </clr-dg-cell>
    <clr-dg-cell>{{ ownership.vehicle.brand }}</clr-dg-cell>
    <clr-dg-cell>{{ ownership.vehicle.type }}</clr-dg-cell>
    <clr-dg-cell>{{ ownership.vehicle.weight }} kg</clr-dg-cell>
    <clr-dg-cell>{{ ownership.vehicle.color }}</clr-dg-cell>
    <clr-dg-cell>{{ ownership.startDate | date }}</clr-dg-cell>
    <clr-dg-cell>{{ ownership.endDate | date }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} cars
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
